{% load i18n %}


{% if page_obj.paginator.num_pages > 1 %} 

    <div id="paginator">
    
    <p>

    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">&laquo;{% trans "Previous" %}</a>        
    {% endif %}  
    
    {% for page in page_range %}

        {% ifequal page page_obj.number %}
            {{page}}
        {% else %}
            <a href="?page={{page}}">{{page}}</a> 
        {% endifequal %}        

    {% endfor %}
    
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">{% trans "Next" %}&raquo;</a>    
    {% endif %}

      
    </p>    

    </div>
    
{% endif %}
